@using ZadanieASP1.ViewModel;
@model TripDetailViewModel

<div class="detailContainer">

        <p>@Model.Title</p>
        <div><img src="@Model.URLImg""/></div>
        <p>Opis wycieczki: @Model.Description</p>
        <p>Cena: @Model.Price zł</p>
        <p>Data: @Model.Date</p>
    
</div>
    